body{
	padding: 0;
	margin: 0;
	color: #FFF;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background-color: #8879fb;
    text-align: center;
}

* {box-sizing: border-box}
header {
    height: 75px;
}
/* Add padding to containers */
.container {
    display: grid;
  margin: auto;
  width: 50%;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 20px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: rgb(28, 87, 242);
  color: white;
  padding: 16px 20px;
  border-radius: 5px;
  margin: auto auto 15px auto;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.8;
  font-size: 15px;
  transition: opacity 0.1s;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: black;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
  margin: auto;
}

#terms {
    color: black;
}